@import url('/css/awesome.css');  
@import url('/css/pricing.css');
html {
  font-size: 16px;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding:  0 15px;
  text-align: center;
  
}